body{
    background-color: rgb(217, 228, 228);
    margin-left: 100px;
    margin-right: 100px;
}

*{
    box-sizing: border-box;
}



.h1{
    margin: 0;
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
    color: rgb(97, 97, 97)
}


.box{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 0px;
}

.box_header{
    width: 20px;
    height: 20px;
    border: 2.5px solid  rgb(74, 202, 202) ;
    margin-right: 10px;
}

.lenta{
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    width: 100%;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.336);
    margin-top: 30px;
    border-radius: 10px;
}

.box_text1{
    background-color:rgb(60, 179, 209);
    width: 200.5px;
    height: 60px;
    border-radius: 10px;
}

.home{
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    padding-top: 13px;
}
.aboutus{
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 25px;   
    padding-top: 13px;
}
.services{
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 25px;   
    padding-top: 13px;
}
.partners{
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 25px;   
    padding-top: 13px;
}
.customers{
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 25px;   
    padding-top: 13px;
}
.projects{
    font-family: 'Noto Sans', 'sans-serif';
    margin: 0;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 25px;   
    padding-top: 13px;
}
.bigbox{
    background-color: rgba(128, 128, 128, 0.459);
    width: 100%;
    height: 350px;
    margin-top: 30px;
    border-radius: 5px;
}
.textbigbox{
    font-family:Comic Sans MS, Comic Sans, cursive;
    margin: 0;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 25px;   
    padding-top: 13px;
}
.band_1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(107, 105, 105, 0.116);
    width: 100%;
    
    border-radius: 5px;
   gap: 120px;
}
.conteiner_1{
    position: relative;
}
.box_1{
    background-color: rgb(67, 183, 236);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.number1{
    color: aliceblue;
    font-family: 'Noto Sans', 'sans-serif';
    text-align: center;
    padding-top: 13px;
    margin-bottom: 0;

}
.text1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgb(67, 183, 236);
    margin: 0;
    left: 70px;
    bottom: 5px;
    font-size: 18px;
    position: absolute;
    
}
.container_2{
    position: relative;
}
.box_2{
    background-color: rgba(78, 80, 80, 0.699);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
.number2{
    color: aliceblue;
    font-family: 'Noto Sans', 'sans-serif';
    text-align: center;
    padding-top: 13px;
    margin-bottom: 0;
}
.text2{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 70px;
    bottom: 5px;
    font-size: 18px;
    position: absolute;
}
.container_3{
    position: relative;
}
.box_3{
    background-color: rgba(78, 80, 80, 0.699);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
.number3{
    color: aliceblue;
    font-family: 'Noto Sans', 'sans-serif';
    text-align: center;
    padding-top: 13px;
    margin-bottom: 0;
}
.text3{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 70px;
    bottom: 5px;
    font-size: 18px;
    position: absolute;
}
.container_4{
    position: relative;
}
.box_4{
    background-color: rgba(78, 80, 80, 0.699);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
.number4{
    color: aliceblue;
    font-family: 'Noto Sans', 'sans-serif';
    text-align: center;
    padding-top: 13px;
    margin-bottom: 0;
}
.text4{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 70px;
    bottom: 5px;
    font-size: 18px;
    position: absolute;
}
 .band_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    width: 100%;
    
    margin-top: 50px;

} 

  .container_5 {
    position: relative;
}  

 .box_5 {
    background-color: rgb(67, 183, 236);
    width: 30px;
    height: 30px;
    border-radius: 1px;
    margin-top: 0px;
    margin-left: 20px;
}  
 
.about {
    font-weight: 600;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 60px;
    padding-top: 7px;
    font-size: 15px;
    position: absolute;
}  
.box_about{
    background-color: rgba(78, 80, 80, 0.205);
    width: 180px;
    height: 150px;
    margin-left: 20px;
    margin-top: 26px;
}
.text_about{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 320px;
    font-size: 18px;
    position: absolute;
}
 
.container_6 {
    position: relative;
  }  

  .box_6 {
    background-color: rgb(67, 183, 236);
    width: 30px;
    height: 30px;
    border-radius: 1px;
    margin-top: 0px;
    margin-left: 20px;
}

.word {
    font-weight: 600;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 60px;
    padding-top: 7px;
    font-size: 15px;
    position: absolute;
} 
.box_word{
    background-color: rgba(78, 80, 80, 0.205);
    width: 180px;
    height: 150px;
    margin-left: 20px;
    margin-top: 26px;
}
 .text_word{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    position: absolute;
    padding-left: 200px;
    font-size: 18px;
   
 }

 .band_3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    
    

}
.container_7 {
    position: relative;
  
}  

 .box_7 {
    background-color: rgb(67, 183, 236);
    width: 30px;
    height: 30px;
    border-radius: 1px;
    margin-top: 100px;
    margin-left: 20px;
}  
 
.serv {
    font-weight: 600;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    font-size: 15px;
    position: absolute;
    left: 60px;
    padding-top: 7px;
}  

.text_serv{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin-left: 30px;
    font-size: 18px;
    
}

.container_8 {
    position: relative;
}  
 
.minibox_1{
    background-color: rgba(122, 122, 122, 0.637);
    width: 80px;
    height: 80px;
    border-radius: 1px;
    margin-top: 35px;
    margin-left: 30px;
}
.minibox_text_1{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 150px;
    font-size: 18px;
    position: absolute;
}
.minibox_2{
    background-color: rgba(122, 122, 122, 0.637);
    width: 80px;
    height: 80px;
    border-radius: 1px;
    margin-top: 35px;
    margin-left: 30px;
}
.minibox_text_2{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    left: 150px;
    font-size: 18px;
    position: absolute;
}

.minibox_3{
    background-color: rgba(122, 122, 122, 0.637);
    width: 80px;
    height: 80px;
    border-radius: 1px;
    margin-top: 35px;
    margin-left: 30px;
}
.minibox_text_3{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    padding-bottom: 40px;
    left: 150px;
    font-size: 18px;
    position: absolute;
}

.band_4 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  
     

}
.box_8{
    background-color: rgb(67, 183, 236);
    width: 30px;
    height: 30px;
    border-radius: 1px;
    margin: 0;
     
}  
.clients{
    font-weight: 600;
    color: rgba(78, 80, 80, 0.699);
    margin: 0;
    font-size: 15px;
    position: absolute;
    left: 140px;
    padding-top: 7px;
}

.photo{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
}

.band_5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.842);
}

.info_1{
    margin-left: 20px;

}
 
.title_info_1{
    font-weight: 700;
    font-size: 20px;
    
    margin-bottom: 10px;
}

.text_info_1{
    font-size: 18px;
}

.hr_1{
    margin: 0;
    width: 320px;
}

.all_text{
    display: flex;
    justify-content: space-around;
}
.title_info_2{
    font-weight: 700;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.text_info_2{
    
    font-size: 18px;
}
.hr_2{
    margin: 0;
    margin-left: 50px;
    margin-right: 20px;
}
.title_info_3{
    font-weight: 700;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.hr_3{
    margin: 0;
    margin-left: 50px;
    margin-right: 20px;
    width: 200px;
}
.iconki_1{
  margin-bottom: 5px;
  margin-left: 90px;
  margin-top: 5px;
}
.iconki_2{
    margin-bottom: 5px;
    margin-left: 90px;
}
 
.box_header_2{
    width: 20px;
    height: 20px;
    border: 2.5px solid  rgb(74, 202, 202) ;
    margin-right: 10px;
    margin-top: 40px;
}
.h2{
    margin: 0;
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
    color: rgb(97, 97, 97);
    font-size: 40px;
    
}